body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D3E4FE;
    color: #112BE4;
}

.content {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FDFEFF;
}

.heading {
    margin-left: 60px;
    margin-top: 30px;
    font-size: 38px;
    font-weight: 100;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px;
}

.row {
    width: 45%;
    height: 50px;
    background-color: #E7E9FE;
    margin: 10px;
}

.row_style {
    padding-left: 25px;
    font-size: large;
    border-style: none;
    border-radius: 7px;
}

.row_second_color {
    background-color: #DCE1FF;
}

.row_address {
    width: 93%;
    height: 50px;
    margin: 10px;
    background-color: #C7CDFD;
}

.textarea {
    width: 93%;
    resize: none;
    background-color: #A5B1FD;
    margin-top: 15px;
    padding-top: 15px;
}

textarea::placeholder {
    font-size: 20px;
}

.btn {
    position: relative;
    padding: 40px;
    margin: 25px;
}

.button {
    padding: 17px 60px;
    border-radius: 30px;
    background-color: #233BF5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: large;
    color: #ffff;
}

p {
    margin-bottom: 35px;
    margin-left: 60px;
    font-size: 18px;
    color: #3AD9B0;
}

::placeholder {
    color: #112BE4;
}

@media (min-width: 1281px) {
    .content {
        width: 40%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .content {
        width: 55%
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content {
        width: 75%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .content {
        width: 95%;
    }
}

@media (min-width: 320px) and (max-width: 491px) {
    .content {
        width: 98%;
    }
}